<sly-card title="Using selected images" 
          subtitle="select action to apply to filtered images"
          :options="{collapsable: true}"
          :collapsed.sync="state.collapsed_steps.actions"
          :disabled="{disabled: data.current_step < data.steps.actions, message: 'complete previous steps to unlock'}">

    <div>Select action:</div>
    <el-select
        v-model="state.selected_action"
        style="width:300px;margin:5px"
        :disabled="data.current_step > data.steps.actions"
        @change="post('/select_action/');"
    >
        <el-option
            v-for="item in data.available_actions"
            :label="item"
            :key="item"
            :value="item">
        </el-option>
    </el-select>

    <div v-if="state.selected_action === 'Copy / Move'">
        <sly-field title="Apply action to images">
            <div class="fflex" style="flex-direction: column; align-items: flex-start">
                <el-radio class="radio"
                          v-model="state.move_or_copy"
                          label="copy">
                    Copy Images
                </el-radio>
                <el-radio class="radio mt5"
                          v-model="state.move_or_copy"
                          label="move"
                          style="margin-left: 0;">
                    Move images
                </el-radio>
            </div>
        </sly-field>
        <sly-field title="Result project"
                   description="Define destination project">
            <div class="fflex">

                <el-radio class="radio"
                          v-model="state.dstProjectMode"
                          label="newProject"
                          @input="(val) => {
                            if (val === 'newProject') {
                                state.dstDatasetMode = 'newDataset';
                            }
                          }"
                >
                    Create new project
                </el-radio>
                <el-radio class="radio" v-model="state.dstProjectMode" label="existingProject">Add to existing project
                </el-radio>
            </div>
            <div class="mt5">
                <div v-if="state.dstProjectMode === 'newProject'">
                    <el-input placeholder="Please input project name" v-model="state.dstProjectName"></el-input>
                    <div class="mt5" style="color: #5a6772">
                        <i>If project with the same name already exists, a new name will be generated automatically</i>
                    </div>
                </div>
                <div v-if="state.dstProjectMode === 'existingProject'">
                    <el-select
                        v-model="state.selectedProjectId"
                        @change="(val) => {
                            state.selectedProjectId = val; 
                            post('/select_dst_project/');
                        }"
                    >
                        <el-option
                            v-for="item in data.available_dst_projects"
                            :label="item.name"
                            :key="item.name"
                            :value="item.id">
                        </el-option>
                    </el-select>
                </div>
            </div>
        </sly-field>
        <sly-field title="Result dataset"
                   description="All filtered items will be placed to a single dataset.">
            <div class="fflex">
                <el-radio class="radio" v-model="state.dstDatasetMode" label="newDataset">Create new dataset</el-radio>
                <el-radio class="radio"
                          v-model="state.dstDatasetMode"
                          label="existingDataset"
                          :disabled="state.dstProjectMode === 'newProject'">
                    Add to existing dataset
                </el-radio>
            </div>
            <div class="mt5">
                <div v-if="state.dstDatasetMode === 'newDataset'">
                    <el-input placeholder="Please input dataset name" v-model="state.dstDatasetName"></el-input>
                    <div class="mt5" style="color: #5a6772">
                        <i>If dataset with the same name already exists, a new name will be generated automatically</i>
                    </div>
                </div>
                <div v-if="state.dstDatasetMode === 'existingDataset'">
                    <el-select
                        v-model="state.selectedDatasetName"
                        :loading="state.loadingDatasets"
                    >
                        <el-option
                            v-for="item in data.available_dst_datasets"
                            :label="item"
                            :key="item"
                            :value="item">
                        </el-option>
                    </el-select>
                </div>
            </div>
        </sly-field>
    </div>

    <div v-else-if="state.selected_action === 'Assign tag'">
        <div>Tag name:</div>
        <el-input
            style="width:300px;margin:5px"
            v-model="state.tag_to_add"
        ></el-input>
    </div>

    <div v-if="state.action_process" style="margin-bottom:10px">
        {{{ action_progress.to_html() }}}
    </div>

    <div v-if="state.action_finished && !state.action_process && data.current_step == data.steps.actions">
        <sly-field title="Output Project"
                   description=""
                   style="margin-bottom: 0">
            <sly-field title="" :description="data.dstDatasetMsg">
                <a slot="title" 
                   target="_blank"
                   :href="`/projects/${data.dstProjectId}/datasets`"
                >{{ data.dstProjectName }}</a>
                <sly-icon slot="icon" :options="{ imageUrl: `${data.dstProjectPreviewUrl}` }"/>
            </sly-field>
        </sly-field>
        <el-button
            v-if="state.action_finished"
            type="success"
            @click="post('/new_action/');">
            <i class="zmdi zmdi-refresh"></i>
            SELECT NEXT ACTION
        </el-button>
        <el-button
            type="danger"
            @click="post('/finish_app/');">
            <i class="zmdi zmdi-power"></i>
            FINISH APP
        </el-button>
    </div>
    <div v-else>
        <div style="margin-bottom:10px" v-if="!state.action_finished && !state.action_process">
            {{{ warning_before_action.to_html() }}}
        </div>
        <el-button
            type="primary"
            @click="post('/apply_action/');"
            :loading="state.action_process">
            <i class="zmdi zmdi-fire"></i>
            {{ state.apply_text }}
        </el-button>
    </div>

</sly-card>