<div id="images_table-layout" style="height: fit-content; width: 100%; align-items: stretch">
    <sly-card title="Images list"
              subtitle="Explore filtered data"
              :options="{collapsable: true}"
              :collapsed.sync="state.collapsed_steps.images_table"
              :disabled="{disabled: data.current_step < data.steps.images_table, message: 'complete all previous steps to unlock'}"
    >
        <div class="fflex" style="align-items: flex-start">
            <div style="max-width: 70%; overflow-x: auto">
                {{{ images_table.to_html() }}}
            </div>
            <div class="ml15" style="width: 30%">
                {{{ images_gallery.to_html() }}}
            </div>
        </div>
    </sly-card>
</div>
