<!DOCTYPE html>
<html>
<head>
    <title>Application Name</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/svg.select.js@3.0.1/dist/svg.select.min.css"/>
    <link rel="stylesheet" href="./static/styles.css"/>
</head>

<body>

<script src="https://supervise.ly/sly-app-widgets-2.0.0.bundle.js"></script>
<script
        type="module"
        src="https://cdn.jsdelivr.net/gh/supervisely-ecosystem/supervisely-app-frontend-js@v0.0.12/SlyApp.js">
</script>
<!--        src="https://supervisely-ecosystem.github.io/supervisely-app-frontend-js/SlyApp.js">-->


<div id="sly-app">
    <sly-app>
        <template v-slot="{ post, state, data }">

             {{{ simple_notification.to_html() }}}

        </template>
    </sly-app>
</div>

</body>
</html>


